{% extends 'base.html' %}

{% block title %}Resultado - Calculos da Folha de Pagamento{% endblock %}

{% block tela %}<h1>Resultado - Calculos Rescisao</h1>{% endblock %}

{% block conteudo %} 


<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title"> Resultado de 13 Salario</h3>
  </div>
  <div class="panel-body">
  <!-- Conteudo aqui ! -->
<table class="table table-striped table-hover">

  <tr><th>Evento</th><th>Referência</th><th>Proventos</th><th>Descontos</th></tr>
  <tr><td>13 Salario</td><td>{{ f1.avos_decimo }}/12 avos</td><td>{{ f1.dterceiro }}</td><td></td></tr>
  <tr><td>INSS</td><td>{{ f1.indiceInssDecimo }}</td><td></td><td>{{ f1.vrInssDecimo }}</td></tr>

  <tr><td>TOTAL</td><td></td><td>{{ f1.proventos }}</td><td>{{ f1.descontos }}</td></tr>
  <tr><td><h2>Valor Liquido {{f1.vrdecimoliquido}}</h2></td></tr>

</table> 

<!-- Fim do Conteudo -->
  </div>
</div>

{% endblock %}



